.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  padding: 0; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
.action-wrapper {
  margin-bottom: 10px; }
  .action-wrapper .filter {
    width: 300px; }

.image-wrapper {
  width: 200px; }
  .image-wrapper img {
    width: 100%; }

.cv-wrapper {
  text-align: center; }
  .cv-wrapper img {
    border: 1px #999 solid; }

/* .squaredFour */
.squaredFour {
  width: 20px;
  position: relative; }
  .squaredFour label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
    .squaredFour label:after {
      content: '';
      width: 9px;
      height: 6px;
      position: absolute;
      top: 6px;
      left: 6px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .squaredFour label:hover::after {
      opacity: 0.5; }
  .squaredFour input[type=checkbox] {
    visibility: hidden; }
    .squaredFour input[type=checkbox]:checked + label:after {
      opacity: 1; }

/* end .squaredFour */
.modal {
  z-index: 101; }
  .modal .modal-dialog .modal-content {
    border-radius: 7px !important;
    padding: 0 !important; }
    .modal .modal-dialog .modal-content .modal-container {
      padding: 20px; }

.modal-header .modal-title {
  font-weight: bold; }

.modal-body {
  min-height: 70px; }
  .modal-body .thumbnail {
    margin-top: 15px;
    border: none; }
    .modal-body .thumbnail img {
      max-width: 300px;
      max-height: 300px; }

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #337ab7;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.9s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.loader-save {
  background: #fff;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.7; }
  .loader-save .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #337ab7;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.9s linear infinite; }

/*# sourceMappingURL=main.css.map */
