.modal{
	z-index: 101;
	.modal-dialog{
		.modal-content{
			border-radius: 7px !important;
			padding: 0 !important;
			.modal-container{
				padding: 20px;
			}
		}
	}
}

.modal-header{
	.modal-title{
		font-weight: bold;
	}
}

.modal-body {
    min-height: 70px;
    .thumbnail{
        margin-top: 15px;
        border: none;
        img{
            max-width: 300px;
            max-height: 300px;
        }
    }
}