.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #337ab7;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.9s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-save{
    background: #fff;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 10;
    opacity: 0.7;
    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 20;
        width: 60px;
        height: 60px;
        margin: -30px 0 0 -30px;
        border: 7px solid #f3f3f3;
        border-radius: 50%;
        border-top: 7px solid #337ab7;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 0.9s linear infinite;
    }
}