.action-wrapper{
    margin-bottom: 10px;
    .filter{
        width: 300px;
    }
}

.image-wrapper{
    width: 200px;
    img{
        width: 100%;
    }
}

.cv-wrapper{
    text-align: center;
    img{
        border: 1px #999 solid;
    }
}