<div ng-if="saveLoader == 1" class="fade-in-save" ng-class="{'loader-save' : saveLoader == 1}"><div class="loader"></div></div>
<div class="modal-container">
	<div class="row modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> </button>
		<h3 class="modal-title">{{options.title}}</h3>
	</div>

	<div class="row modal-body">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="article.title">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Content</label>
            <trix-editor ng-if="true" angular-trix ng-model="article.content" class="trix-content" style="height: 200px;"></trix-editor>
        </div>

        <input type="file" ng-model="myFile" class="form-control" accept="image/*"  onchange="angular.element(this).scope().uploadedFile(this)">
        
        <div class="thumbnail">
            <img ng-src="{{src}}">
        </div>
	</div>
	<div class="row modal-footer">
		<input type="button" ng-click="submit(article)" class="btn btn-sm btn btn-info" value="{{options.submitBtn}}"/>
		<input type="button" ng-click="cancel()" class="btn btn-sm btn-default" value="Cancel"/>
	</div>
</div>
