<h2>Article List</h2>
<p>This page is for displaying all article data</p>

<div class="action-wrapper">
    <span>
        <button type="button" class="btn btn-primary" ng-click="addOrEditArticle('new')"> <i class="glyphicon glyphicon-plus"></i> Add Article</button>
        <button ng-if="isDeleteAll" type="button" class="btn btn-danger" ng-click="deleteMultipleArticle(articleSelected)"> <i class="glyphicon glyphicon-plus"></i> Delete Selected</button>
    </span>
    <span class="filter pull-right">
        <span class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Search</span>
            <input type="text" class="form-control" placeholder="search..." ng-model="search">
        </span>
    </span>
</div>

<div ng-class="{loader : getArticlesLoader}"></div>

<div class="article-wrapper" ng-if="!getArticlesLoader">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="20">
                    <div class="squaredFour">
                        <input type="checkbox" value="" id="squaredFour" ng-model="selectedAll" ng-click="checkAll(selectedAll)" />
                        <label for="squaredFour"></label>
                    </div>
                </th>
                <th>Title</th>
                <th>Content</th>
                <th width="250">Thumbnail</th>
                <th width="200">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles | filter:search">
                <td>
                    <div class="squaredFour">
                        <input type="checkbox" value="" id="squaredFour-{{article.uuid}}" ng-model="articleSelected[article.uuid]" ng-click="chcekSelected(articleSelected)" />
                        <label for="squaredFour-{{article.uuid}}"></label>
                    </div>
                </td>
                <td>{{article.title}}</td>
                <td> 
                    <p ng-bind-html="article.content"></p>
                </td>
                <td>
                    <div class="image-wrapper">
                        <img ng-src="{{imageUrl('images/' + article.image)}}" alt=""> </td>
                    </div>
                <td>
                    <button type="button" ng-click="addOrEditArticle('edit', article.uuid)" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                    <button type="button" ng-click="deleteArticle(article.uuid)" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
